[submodule "deps/midnight-ledger"]
	path = deps/midnight-ledger
	url = git@github.com:webisoftSoftware/midnight-ledger.git
	branch = feature/split-prove-ledger-8.0.2
[submodule "deps/midnight-node"]
	path = deps/midnight-node
	url = https://github.com/ADGLx/midnight-node.git
	branch = feature/split-prove-node-0.22.3
