target/
node_modules/
deps/midnight-local-dev/node_modules/
deps/midnight-local-dev/logs/
deps/midnight-local-dev/.env
deps/midnight-local-dev/accounts.json
circuit-output/
deps/midnight-ledger-old/
*.bzkir
*.prover
*.verifier
.env
.env.*
!.env.example
