[submodule "deps/midnight-ledger"]
	path = deps/midnight-ledger
	url = https://github.com/webisoftSoftware/midnight-ledger.git
	branch = registry-split-bundle
[submodule "deps/midnight-node"]
	path = deps/midnight-node
	url = https://github.com/ADGLx/midnight-node.git
	branch = registry-split-bundle-node
[submodule "deps/midnight-indexer"]
	path = deps/midnight-indexer
	url = https://github.com/ADGLx/midnight-indexer.git
	branch = registry-split-bundle-indexer
