[submodule "deps/midnight-ledger"]
	path = deps/midnight-ledger
	url = https://github.com/webisoftSoftware/midnight-ledger.git
	branch = recursive-privacy-wrapper-ledger
[submodule "deps/midnight-node"]
	path = deps/midnight-node
	url = https://github.com/ADGLx/midnight-node.git
	branch = recursive-privacy-wrapper-node
[submodule "deps/midnight-indexer"]
	path = deps/midnight-indexer
	url = https://github.com/ADGLx/midnight-indexer.git
	branch = direct-split-bundle-indexer
